<section class="md:m-12 md:pl-20 md:pr-20 xl:pl-72 xl:pr-72 p-10">
    <div class="">
        <h1 class="text-xl text-center text-primary-400 font-semibold">
            {{ enumKeys.proyectosKeyTranslate.TITULO | translate }}
        </h1>
        <p class="text-center font-semibold">
            {{ enumKeys.proyectosKeyTranslate.SUBTITULO | translate }}
        </p>
    </div>
    <div class="mt-5">
        <swiper-container
            slides-per-view="3"
            [breakpoints]="breakpoints"
            class="container"
            pagination="true"
            grab-cursor="true">
            @for (proyecto of dataProyectos; track proyecto.id) {
                <swiper-slide
                    class="mb-20 md:min-w-[20rem] min-h-[24rem] bg-white border-2 rounded-lg hover:border-2 hover:border-primary-400 hover:shadow-lg">
                    <article class="p-4">
                        <img
                            [ngSrc]="proyecto.portada"
                            width="700"
                            height="413"
                            [alt]="proyecto.titulo" />
                        <h4 class="font-semibold">
                            {{ proyecto.titulo | translate }}
                        </h4>
                        <h5
                            class="text-xs font-semibold text-secondary-500 mb-2">
                            {{ proyecto.entidad | translate }}
                        </h5>
                        <hr />
                        <p
                            class="text-sm font-normal min-h-14 flex items-center text-secondary-500 mt-2 mb-2"
                            [innerHTML]="
                                proyecto.descripcionCorta | translate
                            "></p>
                        <hr />
                        <div class="flex justify-center mb-2">
                            @for (
                                skill of proyecto.skills.slice(0, 5);
                                track $index
                            ) {
                                <a class="tooltip mt-2 mr-2">
                                    <img
                                        [src]="skill.icono"
                                        class="max-h-10"
                                        [alt]="skill.titulo" />
                                    <h6 class="tooltiptext text-xs">
                                        {{ skill.titulo }}
                                        @if (skill.plugins) {
                                            <br />
                                            <span>{{ skill.plugins }}</span>
                                        }
                                    </h6>
                                </a>
                            }
                        </div>

                        <hr />
                        <button
                            (click)="openModalProyecto(proyecto)"
                            type="button"
                            class="mt-2 bg-primary-400 text-white font-medium p-2 rounded-md hover:bg-primary-500 min-w-full">
                            {{
                                enumKeys.genericosKeyTranslate.VERMAS
                                    | translate
                            }}
                        </button>
                    </article>
                </swiper-slide>
            }
        </swiper-container>
    </div>
</section>
