<nav
    class="flex backdrop-blur-md justify-evenly items-center bg-transparent p-8 border-0 border-b-[1px] border-ternary">
    <a
        href="#inicio"
        class="text-3xl text-secondary flex items-center cursor-pointer">
        <strong>Wayless</strong>
        <span class="text-primary-500">.</span>
    </a>

    <div class="text-secondary">
        <ul class="flex text-base font-medium">
            @for (opcion of opciones; track $index) {
                <li class="mr-4 cursor-pointer hover:text-primary-600">
                    <a [href]="opcion.ref">{{ opcion.titulo }}</a>
                </li>
            }
        </ul>
    </div>

    <div class="text-sky-50">
        <button (click)="escogerIdioma()" class="text-primary-400">
            {{ idioma }}
        </button>
        <button
            class="cursor-pointer bg-primary-400 border p-2 rounded-3xl min-w-9 ml-2 hover:bg-blue-600">
            <fa-icon (click)="escogerModo()" [icon]="chooseMode"></fa-icon>
        </button>
    </div>
</nav>
