<nav
    [ngClass]="{ 'justify-center': openMenu }"
    [ngClass]="{ 'justify-between': !openMenu }"
    [ngClass]="{ 'bg-[rgba(255,255,255,0.s57)]': !isDarkMode }"
    class="flex justify-between backdrop-blur-md items-center md:justify-between p-8 md:px-28 lg:px-64 border-0 border-b-[1px] border-ternary">
    <a class="text-3xl text-secondary flex items-center cursor-pointer">
        <strong [class.text-white]="openMenu">Wayless</strong>
        <span class="text-primary-500">.</span>
    </a>
    <div class="hidden lg:flex space-x-4">
        <ul class="flex text-base font-medium">
            @for (opcion of opciones; track $index) {
                <li
                    class="active:text-primary-600 mr-4 cursor-pointer hover:text-primary-600">
                    <a (click)="tap2TopService.scrollToDiv(opcion.ref)">{{
                        opcion.titulo | translate
                    }}</a>
                </li>
            }
        </ul>
    </div>

    @if (openMenu) {
        <div class="lg:hidden fixed inset-0 bg-gray-800 mt-44">
            <div class="flex justify-end p-4">
                <button (click)="closeModal()">
                    <svg
                        class="fill-current h-6 w-6 text-white"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path
                            d="M6 18L18 6M6 6l12 12"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <ul class="flex flex-col items-center text-white text-2xl">
                @for (opcion of opciones; track $index) {
                    <li class="my-6">
                        <a
                            (click)="scrollAndClose(opcion.ref)"
                            class="hover:text-primary-600"
                            >{{ opcion.titulo | translate }}</a
                        >
                    </li>
                }
                <div class="flex">
                    <button
                        (click)="escogerIdioma()"
                        class="text-primary-400 m-4">
                        {{ idioma.toUpperCase() }}
                    </button>
                    <button
                        class="cursor-pointer bg-primary-400 border m-4 p-2 rounded-3xl min-w-9 ml-2 hover:bg-blue-600"
                        (click)="escogerModo()">
                        <fa-icon [icon]="chooseMode"></fa-icon>
                    </button>
                </div>
            </ul>
        </div>
    }

    @if (!openMenu) {
        <div class="lg:hidden">
            <button (click)="toggleMenu()">
                <img
                    [ngClass]="{ 'filter invert': isDarkMode }"
                    src="../../../assets/icons/generics/menu.svg"
                    alt=""
                    class="max-h-5" />
            </button>
        </div>
    }

    <div class="hidden lg:block">
        <div class="text-sky-50" [class.hidden]="openMenu">
            <button (click)="escogerIdioma()" class="text-primary-400">
                {{ idioma.toUpperCase() }}
            </button>
            <button
                class="cursor-pointer bg-primary-400 border p-2 rounded-3xl min-w-9 ml-2 hover:bg-blue-600"
                (click)="escogerModo()">
                <fa-icon [icon]="chooseMode"></fa-icon>
            </button>
        </div>
    </div>
</nav>
