@import '../../shared/styles/animations.scss';


$leftAnimation: --leftAnimation;

.syncLeftRight {
    view-timeline-name: $leftAnimation;
    view-timeline-axis: block;
    animation-timeline: $leftAnimation;
    animation-range: entry 0% cover 30%;
    animation-fill-mode: both;

    &:nth-child(odd) {
        animation-name: rightToLeft;
    }

    &:nth-child(even) {
        animation-name: leftToRight;
    }
}
