@import '../../shared/styles/tooltip.scss';
@import '../../shared/styles/animations.scss';

#panel{
    view-timeline-name : --panel;
    view-timeline-axis: block;

    animation-timeline: --panel;
    animation-name: showWithScale;

    animation-range: entry 1% cover 40%;
    animation-fill-mode: both;
}

#container-panel{
    view-timeline-name : --panel;
    view-timeline-axis: block;

    animation-timeline: --panel;
    animation-name: show;

    animation-range: entry 15% cover 30%;
    animation-fill-mode: both;
}