@import '../../shared/styles/tooltip.scss';
@import '../../shared/styles/animations.scss';

$animation-entry: entry;
$animation-cover: cover;
$selector-panel: --panel;

#panel, #container-panel {
    view-timeline-name: $selector-panel;
    view-timeline-axis: block;
    animation-timeline: $selector-panel;
    animation-fill-mode: both;
}

#panel {
    animation-name: showWithScale;
    animation-range: $animation-entry 1% $animation-cover 40%;
}

#container-panel {
    animation-name: showWithScale;
    animation-range: $animation-entry 15% $animation-cover 30%;
}
