.overlay {
    background: rgba(0, 0, 0, 0.9); /* Puedes ajustar el color y la opacidad según tus necesidades */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; 
  }