<div
    class="transition duration-300 ease-in-out"
    [ngClass]="{
        'bg-back-black-transparent fixed top-0 left-0 w-[100vw] h-[100vh] z-10 transition-opacity ease-in-out':
            openMenu$ | async
    }"></div>
<header
    class="fixed top-0 z-10 w-full transition duration-300 ease-in-out"
    [ngClass]="{ 'bg-slate-900 text-white': nightMode$ | async }">
    <app-header id=""></app-header>
</header>
<main
    class="relative"
    [ngClass]="{ 'bg-slate-900 text-white': nightMode$ | async }">
    <app-quien-soy id="inicio"></app-quien-soy>
    <app-descripcion id="acercademi"></app-descripcion>
    <app-proyectos id="proyectos"></app-proyectos>
    <app-conocimientos id="conocimientos"></app-conocimientos>
    <app-timeline-trabajos id="experiencia"></app-timeline-trabajos>
    <app-educacion id="educacion"></app-educacion>
</main>
<footer>
    <app-footer></app-footer>
</footer>
<app-tap-to-top></app-tap-to-top>
