$fullOpacity :1;
$noneOpacity : 0;
$noneScale : 0;

@keyframes leftToRight {
    from {
        transform: translateX(-75%) scale($noneScale);
        opacity: $noneOpacity;
    }

    to {
        transform: translateX(0) scale(1);
        opacity: $fullOpacity;
    }
}

@keyframes rightToLeft {
    from {
        transform: translateX(75%) scale($noneScale);
        opacity: $noneOpacity;
    }

    to {
        transform: translateX(0) scale(1);
        opacity: $fullOpacity;
    }
}

@keyframes leftToRightMobile {
    from {
        transform: translateX(-45%) scale($noneScale);
        opacity: $noneOpacity;
    }

    to {
        transform: translateX(0) scale(1);
        opacity: $fullOpacity;
    }
}

@keyframes rightToLeftMobile {
    from {
        transform: translateX(45%) scale($noneScale);
        opacity: $noneOpacity;
    }

    to {
        transform: translateX(0) scale(1);
        opacity: $fullOpacity;
    }
}

@keyframes show {
    from {
        opacity: $noneOpacity;
    }

    to{
        opacity: $fullOpacity;
    }
}

@keyframes showWithScale {
    from {
        opacity: $noneOpacity;
        scale: 25%;
    }

    to{
        opacity: $fullOpacity;
        scale: 100%
    }
    
}