.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: none;
  
    &:hover {
      .tooltiptext {
        visibility: visible;
      }
    }
  
    .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      text-align: center;
      padding: 8px;
      border-radius: 8px;
      position: absolute;
      z-index: 1;
      top: 110%;
      left: 50%;
      transform: translateX(-50%);
      transition: visibility 0.05s ease-in-out;
    }
  }
  