<section
    class="sm:min-h-96 sm:max-w-full sm:p-40 pt-40 sm:mt-8 sm:flex sm:justify-evenly sm:items-center sm:relative">
    <div class="sm:w-1/3 sm:p-0 p-10">
        <h4 class="text-xl text-secondary-500 font-semibold">
            {{ enumsKey.quiensoyKeyTranslate.HOLA | translate }}
        </h4>
        <h1 class="text-5xl font-semibold">
            <span
                class="bg-gradient-to-r from-primary-300 to-primary-500 inline-block text-transparent bg-clip-text">
                Luis Hernández
            </span>
            😎
        </h1>
        <h2 class="text-xl text-secondary-500 font-medium">
            <span class="text-ternary-500">{{
                enumsKey.quiensoyKeyTranslate.DEVELOPER1 | translate
            }}</span>
            {{ enumsKey.quiensoyKeyTranslate.DEVELOPER2 | translate }}
        </h2>
        <p class="mt-2 mb-2">
            {{ enumsKey.quiensoyKeyTranslate.DESCRIPCION | translate }}
        </p>
        <a
            href="../../../assets/docs/Hernandez Albia Luis Alberto Junior CV.pdf"
            target="_blank"
            type="button"
            class="cursor-pointer mt-2 min-w-32 mr-2 bg-transparent text-primary-400 font-medium rounded-lg p-2 border-primary-400 border-2 hover:bg-primary-50 hover:shadow-xl">
            Curriculum
            <fa-icon [icon]="filePdf" class="ml-1"></fa-icon>
        </a>
        <button
            class="mt-2 min-w-32 bg-primary-400 text-white p-2 rounded-lg border-primary-400 border-2 hover:bg-primary-500 hover:border-primary-500 hover:shadow-xl">
            {{ enumsKey.quiensoyKeyTranslate.PORTAFOLIO | translate }}
            <fa-icon [icon]="arrowRigth" class="ml-1"></fa-icon>
        </button>
    </div>

    <div class="flex justify-center">
        <img
            src="../../../assets/img/lh.png"
            alt=""
            class="max-h-80 md:max-h-96" />
    </div>
</section>

<div
    class="w-[500px] h-[500px] rounded-full bg-gradient-to-t from-primary-500 to-primary-200 absolute -z-10 hidden md:block md:top-[25rem] md:right-1 lg:right-16 lg:bottom-[81%] -right-52 -bottom-[20%]"></div>
