<section
    class="bg-gradient-to-tl from-sky-950 to-sky-900 min-h-96 p-60 grid gap-2 grid-cols-2">
    <div class="pl-32">
        <h4 class="text-xl text-sky-100">Hola, soy Luis Hernandez 😁</h4>
        <h1
            class="text-5xl font-semibold bg-gradient-to-r from-sky-300 to-sky-500 inline-block text-transparent bg-clip-text">
            FullStack Developer
        </h1>
        <p class="text-xl text-sky-100">Con muchas ganas de aprender</p>
        <button
            class="mt-2 min-w-32 mr-2 bg-transparent text-sky-400 font-medium rounded-lg p-2 border-sky-400 border-2 hover:bg-sky-900">
            Curriculum
            <fa-icon [icon]="filePdf" class="ml-1"></fa-icon>
        </button>
        <button
            class="mt-2 min-w-32 bg-sky-400 p-2 rounded-lg border-sky-400 border-2 hover:bg-sky-500 hover:border-sky-500">
            Portafolio
            <fa-icon [icon]="arrowRigth" class="ml-1"></fa-icon>
        </button>
    </div>
    <div class="pr-32">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque vitae eum
        harum veritatis, iste minus beatae iusto hic, repudiandae eveniet a qui
        eius odio dicta laborum ipsam impedit aspernatur excepturi.
    </div>
</section>
