<section
    [ngClass]="{ 'bg-slate-900': nightMode$ | async }"
    class="p-0 relative">
    <div class="absolute top-0 right-0 m-2">
        <button
            [ngClass]="{ 'filter invert': nightMode$ | async }"
            class="rounded-full p-1 bg-white"
            (click)="closeModal()">
            <fa-icon [icon]="closeIcon"></fa-icon>
        </button>
    </div>
    <div class="lg:flex p-2">
        <div class="lg:w-1/2 p-4">
            <div class="md:p-1">
                <h2
                    [ngClass]="{ 'filter invert': nightMode$ | async }"
                    class="text-2xl font-semibold mb-2">
                    {{ enumKeys.proyectosKeyTranslate.TITULOMODAL | translate }}
                </h2>
                <hr />
                <div class="flex justify-between items-center">
                    <p
                        [ngClass]="{ 'filter invert': nightMode$ | async }"
                        class="text-xl mt-4">
                        {{ infoExperiencia.puesto | translate }}
                    </p>
                    <span
                        class="hidden lg:block text-xs bg-primary-400 text-white rounded-full px-2 py-1"
                        >{{ infoExperiencia.periodo | translate }}</span
                    >
                </div>
                <p
                    class="text-md text-ternary-500"
                    [innerHTML]="infoExperiencia.entidad | translate"></p>
                <span
                    class="w-1/4 lg:hidden text-xs bg-primary-400 text-white rounded-full px-2 py-1"
                    >{{ infoExperiencia.periodo | translate }}</span
                >

                <ul
                    [ngClass]="{ 'filter invert': nightMode$ | async }"
                    class="text-sm list-disc list-inside mt-4 ml-1">
                    @for (tareas of arrayTareas; track $index) {
                        <li class="my-1" [innerHTML]="tareas"></li>
                    }
                </ul>
            </div>
        </div>
        <div class="lg:w-1/2 my-4">
            <div class="flex justify-center mt-14 border-2 rounded-xl p-2">
                @if (infoExperiencia.logoEntidad) {
                    <img
                        [src]="infoExperiencia.logoEntidad"
                        alt=""
                        class="w-36" />
                } @else {
                    <div
                        class="text-[9rem] text-white rounded-full bg-sky-700 py-8 px-24">
                        {{ infoExperiencia.entidad.charAt(0) }}
                    </div>
                }
            </div>
            <div class="md:p-1">
                <h4
                    [ngClass]="{ 'filter invert': nightMode$ | async }"
                    class="mt-2 font-semibold">
                    {{
                        enumKeys.genericosKeyTranslate.COMPETENCIASTECNICAS
                            | translate
                    }}
                </h4>
                <div
                    class="grid gap-1 grid-cols-2 md:grid-cols-3 lg:grid-cols-auto">
                    @if (infoExperiencia.skills.basics) {
                        <div class="my-2 relative">
                            <div
                                id="basic"
                                class="flex justify-evenly border-2 rounded-xl p-2">
                                @for (
                                    skill of infoExperiencia.skills.basics;
                                    track $index
                                ) {
                                    <div class="tooltip">
                                        <img
                                            [src]="skill.icono"
                                            alt=""
                                            class="max-h-10" />
                                        <span class="tooltiptext text-xs">{{
                                            skill.titulo
                                        }}</span>
                                    </div>
                                }
                            </div>
                            <label
                                [ngClass]="{
                                    'bg-slate-900 text-white':
                                        (nightModeService.nightMode$
                                            | async) === true,
                                    'bg-white':
                                        (nightModeService.nightMode$
                                            | async) === false
                                }"
                                for="basic"
                                class="text-xs absolute bg-white px-2 -top-2 left-2 text-gray-600"
                                >{{
                                    enumKeys.genericosKeyTranslate.BASICOS
                                        | translate
                                }}</label
                            >
                        </div>
                    }

                    @if (infoExperiencia.skills.lenguajes) {
                        <div class="my-2 relative">
                            <div
                                id="lenguajes"
                                class="flex justify-evenly border-2 rounded-xl p-2">
                                @for (
                                    skill of infoExperiencia.skills.lenguajes;
                                    track $index
                                ) {
                                    <div class="tooltip">
                                        <img
                                            [src]="skill.icono"
                                            alt=""
                                            class="max-h-10" />
                                        <span class="tooltiptext text-xs">{{
                                            skill.titulo
                                        }}</span>
                                    </div>
                                }
                            </div>
                            <label
                                [ngClass]="{
                                    'bg-slate-900 text-white':
                                        (nightModeService.nightMode$
                                            | async) === true,
                                    'bg-white':
                                        (nightModeService.nightMode$
                                            | async) === false
                                }"
                                for="lenguajes"
                                class="text-xs absolute bg-white px-2 -top-2 left-2 text-gray-600"
                                >{{
                                    enumKeys.genericosKeyTranslate.LENGUAJES
                                        | translate
                                }}</label
                            >
                        </div>
                    }

                    @if (infoExperiencia.skills.frameworks) {
                        <div class="my-2 relative">
                            <div
                                id="frameworks"
                                class="flex justify-evenly border-2 rounded-xl p-2">
                                @for (
                                    skill of infoExperiencia.skills.frameworks;
                                    track $index
                                ) {
                                    <div class="tooltip">
                                        <img
                                            [src]="skill.icono"
                                            alt=""
                                            class="max-h-10" />
                                        <span class="tooltiptext text-xs">{{
                                            skill.titulo
                                        }}</span>
                                    </div>
                                }
                            </div>
                            <label
                                [ngClass]="{
                                    'bg-slate-900 text-white':
                                        (nightModeService.nightMode$
                                            | async) === true,
                                    'bg-white':
                                        (nightModeService.nightMode$
                                            | async) === false
                                }"
                                for="frameworks"
                                class="text-xs absolute bg-white px-2 -top-2 left-2 text-gray-600"
                                >Frameworks</label
                            >
                        </div>
                    }

                    @if (infoExperiencia.skills.tools) {
                        <div class="my-2 relative">
                            <div
                                id="tools"
                                class="flex justify-evenly border-2 rounded-xl p-2">
                                @for (
                                    skill of infoExperiencia.skills.tools;
                                    track $index
                                ) {
                                    <div class="tooltip">
                                        <img
                                            [src]="skill.icono"
                                            alt=""
                                            class="max-h-10" />
                                        <span class="tooltiptext text-xs">{{
                                            skill.titulo
                                        }}</span>
                                    </div>
                                }
                            </div>
                            <label
                                [ngClass]="{
                                    'bg-slate-900 text-white':
                                        (nightModeService.nightMode$
                                            | async) === true,
                                    'bg-white':
                                        (nightModeService.nightMode$
                                            | async) === false
                                }"
                                for="tools"
                                class="text-xs absolute bg-white px-2 -top-2 left-2 text-gray-600"
                                >{{
                                    enumKeys.genericosKeyTranslate.HERRAMIENTAS
                                        | translate
                                }}</label
                            >
                        </div>
                    }

                    @if (infoExperiencia.skills.bd) {
                        <div class="my-2 relative">
                            <div
                                id="bd"
                                class="flex justify-evenly border-2 rounded-xl p-2">
                                @for (
                                    skill of infoExperiencia.skills.bd;
                                    track $index
                                ) {
                                    <div class="tooltip">
                                        <img
                                            [src]="skill.icono"
                                            alt=""
                                            class="max-h-10" />
                                        <span class="tooltiptext text-xs">{{
                                            skill.titulo
                                        }}</span>
                                    </div>
                                }
                            </div>
                            <label
                                [ngClass]="{
                                    'bg-slate-900 text-white':
                                        (nightModeService.nightMode$
                                            | async) === true,
                                    'bg-white':
                                        (nightModeService.nightMode$
                                            | async) === false
                                }"
                                for="bd"
                                class="text-xs absolute bg-white px-2 -top-2 left-2 text-gray-600"
                                >{{
                                    enumKeys.genericosKeyTranslate.BD
                                        | translate
                                }}</label
                            >
                        </div>
                    }

                    @if (infoExperiencia.skills.geo) {
                        <div class="my-2 relative">
                            <div
                                id="geo"
                                class="flex justify-evenly border-2 rounded-xl p-2">
                                @for (
                                    skill of infoExperiencia.skills.geo;
                                    track $index
                                ) {
                                    <div class="tooltip">
                                        <img
                                            [src]="skill.icono"
                                            alt=""
                                            class="max-h-10" />
                                        <span class="tooltiptext text-xs">{{
                                            skill.titulo
                                        }}</span>
                                    </div>
                                }
                            </div>
                            <label
                                [ngClass]="{
                                    'bg-slate-900 text-white':
                                        (nightModeService.nightMode$
                                            | async) === true,
                                    'bg-white':
                                        (nightModeService.nightMode$
                                            | async) === false
                                }"
                                for="geo"
                                class="text-xs absolute bg-white px-2 -top-2 left-2 text-gray-600"
                                >{{
                                    enumKeys.genericosKeyTranslate.GEO
                                        | translate
                                }}</label
                            >
                        </div>
                    }

                    @if (infoExperiencia.skills.metodology) {
                        <div class="my-2 relative">
                            <div
                                id="metodology"
                                class="flex justify-evenly border-2 rounded-xl p-2">
                                @for (
                                    skill of infoExperiencia.skills.metodology;
                                    track $index
                                ) {
                                    <div class="tooltip">
                                        <img
                                            [src]="skill.icono"
                                            alt=""
                                            class="max-h-10" />
                                        <span class="tooltiptext text-xs">{{
                                            skill.titulo
                                        }}</span>
                                    </div>
                                }
                            </div>
                            <label
                                [ngClass]="{
                                    'bg-slate-900 text-white':
                                        (nightModeService.nightMode$
                                            | async) === true,
                                    'bg-white':
                                        (nightModeService.nightMode$
                                            | async) === false
                                }"
                                for="metodology"
                                class="text-xs absolute bg-white px-2 -top-2 left-2 text-gray-600"
                                >{{
                                    enumKeys.genericosKeyTranslate.METODOLOGIAS
                                        | translate
                                }}</label
                            >
                        </div>
                    }

                    @if (infoExperiencia.skills.versionable) {
                        <div class="my-2 relative">
                            <div
                                id="versionable"
                                class="flex justify-evenly border-2 rounded-xl p-2">
                                @for (
                                    skill of infoExperiencia.skills.versionable;
                                    track $index
                                ) {
                                    <div class="tooltip">
                                        <img
                                            [src]="skill.icono"
                                            alt=""
                                            class="max-h-10" />
                                        <span class="tooltiptext text-xs">{{
                                            skill.titulo
                                        }}</span>
                                    </div>
                                }
                            </div>
                            <label
                                [ngClass]="{
                                    'bg-slate-900 text-white':
                                        (nightModeService.nightMode$
                                            | async) === true,
                                    'bg-white':
                                        (nightModeService.nightMode$
                                            | async) === false
                                }"
                                for="versionable"
                                class="text-xs absolute bg-white px-2 -top-2 left-2 text-gray-600"
                                >{{
                                    enumKeys.genericosKeyTranslate.VERSIONABLE
                                        | translate
                                }}</label
                            >
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
